nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding: var(--N-spacing-s) var(--N-spacing-xl);
}

nav div {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

nav div div {
    gap: 1rem;
    align-items: center;
}


.link_color a {
    color: var(--N-text-secondary);
    text-decoration: none;
}

.img_logo {
    width: 130px;
    height: 50px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
}

.img_logo:hover {
    transform: scale(0.99);
    transition: .2s;
}

.links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.btn_toogle_menu {
    display: none;
    cursor: pointer;
}

.show_menu {
    color: var(--N-text-secondary);
    padding: 2px;
}

.show_menu:hover {
    transform: scale(0.95);
    background-color: var(--N-bg-tertiary);
    color: var(--N-text-tertiary);
    border-radius: 5px;
    box-sizing: border-box;
    transition: .2s;

}



@media (max-width: 520px) {

    nav>div {
        flex-direction: column;
        align-items: stretch;
    }

    .link_color {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        left: 0;
    }

    .btn_toogle_menu {
        display: flex;
        justify-content: flex-end;
        padding: .5rem 0;
    }

    .links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;
        margin-top: .5rem;
    }

    .links.show_menu_toogle {
        display: flex;
        position: fixed;
        transform: translateY(95px);
        left: 0;
        padding: var(--N-spacing-s);
        height: 100svh;
        bottom: -84svh;
    }
}