nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding: var(--N-spacing-xl);
}

nav>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link_color a {
    color: var(--N-text-secondary);
    text-decoration: none;
}

.links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.btn_toogle_menu {
    display: none;
    cursor: pointer;
}

.show_menu {
    color: var(--N-text-secondary);
}

@media (max-width: 520px) {

    nav>div {
        flex-direction: column;
        align-items: stretch;
    }

    .link_color {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        left: 0;
    }

    .btn_toogle_menu {
        display: flex;
        justify-content: flex-end;
        padding: .5rem 0;
    }

    .links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;
        margin-top: .5rem;
    }

    .links.show_menu_toogle {
        display: flex;
        position: fixed;
        transform: translateY(95px);
        left: 0;
        padding: var(--N-spacing-s);
        height: 100svh;
        bottom: -84svh;
    }
}