footer {
    width: 100%;
    background-color: var(--N-bg-filter);
    padding: var(--N-spacing-xl);
    display: flex;
    justify-content: center;
    bottom: 0;
    color: var(--N-text-secondary);
}

footer div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

footer div ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2rem;
    flex-wrap: wrap;
}

footer div ul a {
    color: var(--N-text-secondary);
}

footer div div,
footer div div i {
    width: 100%;
    display: flex;
    justify-content: right;
}