.btn_float {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.btn_float a {
    display: block;
     width: 60px;
    height: 60px;
}

.contact_me {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;

    transition: transform .2s ease;
}

.btn_float:hover .contact_me {
    transform: scale(1.2);
}